/* 달력 */
div.calenderWrapper {
  position: relative;
  font-family: 'Pretendard', sans-serif;
  border: hidden;
}
@media (max-width: 768px) {
  div.calenderWrapper {
    position: static;
    background-color: transparent;
    right: 50%;
  }
}

/* 날짜, 월과 연도*/
.customHeader {
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: space-around;
}

/* 날짜, 일 */
div.selectedDay {
  background-color: #10b981;
  border-radius: 8px;
  color: #1e293b;
}

.today {
  color: #10b981;
  background-color: #1e293b;
}

.day {
  color: white;
}

.disabledDay {
  pointer-events: none;
  color: #64748b;
}
