/* Webkit 기반 브라우저에서 스크롤바 스타일 */
.textarea::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.textarea::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.textarea::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}

/* Webkit 기반 브라우저에서 스크롤바 스타일 */
.autoTextarea::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.autoTextarea::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.autoTextarea::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}

.sidebarScroll::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.sidebarScroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.sidebarScroll::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}

.dropdownScroll::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.dropdownScroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.dropdownScroll::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}

.taskListScroll::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
}

.taskListScroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.taskListScroll::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}

.isErrorScroll::-webkit-scrollbar {
  width: 5px;
}

.isErrorScroll::-webkit-scrollbar-thumb {
  background-color: #ff4c4c;
  border-radius: 10px;
}

.isErrorScroll::-webkit-scrollbar-track {
  background: transparent;
}

.ContributionsScroll::-webkit-scrollbar {
  height: 5px; /* 스크롤바 너비 */
}

.ContributionsScroll::-webkit-scrollbar-thumb {
  background-color: #e0e0e0; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥글게 만들기 */
}

.ContributionsScroll::-webkit-scrollbar-track {
  background: transparent; /* 스크롤바 트랙 색상 */
}
